{% extends "base.html" %}
{% load static %}
{% load cart_tools %}


{% block content %}
    <div class="overlay bg-tertiary"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Tours Cart</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if cart_items %}
                <div class="d-block d-md-none">
                    <div class="row">
                        <div class="col">
                            <h6><strong>Cart Total: €{{ total|floatformat:2 }}</strong></h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% include "cart/checkout-buttons.html" %}
                            <p class="text-muted mb-5">A summary of your cart contents is below</p>
                        </div>
                    </div>
                    {% for item in cart_items %}
                        <div class="row">
                            <div class="col-12 col-sm-6 mb-2">
                                {% include "cart/tour-image.html"%}
                            </div>
                            <div class="col-12 col-sm-6 mb-2">
                                <p class="my-0"><strong>{{ item.tour.name }}</strong></p>
                            </div>
                            <div class="col-12 col-sm-6 order-sm-last">
                                <p class="my-0">Cost Each: ${{ item.tour.cost }}</p>
                                <p><strong>Subtotal: </strong>${{ item.tour.cost | calc_subtotal:item.participants }}</p>
                            </div>
                            <div class="col-12 col-sm-6">
                                {% include "cart/participants-form.html" %}
                            </div>
                        </div>
                        <div class="row"><div class="col"><hr></div></div>
                    {% endfor %}
                    <div class="btt-button shadow-sm rounded-0 border border-black">
                        <a class="btt-link d-flex h-100">
                            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
                        </a>	
                    </div>
                </div>
                <div class="table-responsive rounded d-none d-md-block">
                        <div class="table-responsive rounded">
                            <table class="table table-sm table-borderless">
                                <thead class="text-black">
                                    <tr>
                                        <th scope="col">Tour Info</th>
                                        <th scope="col"></th>
                                        <th scope="col">Cost</th>
                                        <th scope="col">Participants</th>
                                        <th scope="col">Subtotal</th>
                                    </tr>
                                </thead>
    
                                {% for item in cart_items %}
                                    <tr>
                                        <td class="p-3 w-25">
                                            {% include "cart/tour-image.html"%}
                                       
                                        </td>
                                        <td class="py-3">
                                            <p class="my-0"><strong>{{ item.tour.name }}</strong></p>
                                        </td>
                                        <td class="py-3">
                                            <p class="my-0">€{{ item.tour.cost }}</p>
                                        </td>
                                        <td class="py-3 w-25">
                                            {% include "cart/participants-form.html"%}
                                        </td>
                                        <td class="py-3">
                                            <p class="my-0">€{{ item.tour.cost | calc_subtotal:item.participants  }}</p>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="5" class="pt-5 text-right">
                                        <h6><strong>Cart Total: €{{ total|floatformat:2 }}</strong></h6>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-right">
                                            {% include "cart/checkout-buttons.html"%}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                {% else %}
                <div class="empty-cart" >
                    <p class="lead mb-5">Your  cart is empty.</p>
                    <a href="{% url 'tours' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Browsing</span>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
<!-- Find a way to bring the script into js file-->
{{ block.super }}

<script src="{% static 'cart/js/tour-details.js' %}"></script>
<script src="{% static 'cart/js/cart.js' %}"></script>
<script type="text/javascript">
    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        let url = `/cart/delete/${itemId}/`;
        let data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>

{% endblock %}