{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- Header -->
<header class="master-head text-white text-center landing" id="landing">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5"> Welcome to Eternal City Crawls
        </h1>
      </div>
    </div>
    <a href="{% url 'tours' %}" class="shop-now-button btn btn-ls rounded-0 text-uppercase py-3">Book Now</a>
  </div>
</header>

    <section class="hot" id="hot">
        <div class="top-content">
          <div class="section-heading text-center">
            <h2>See Our Top Rated Tours</h2>
            <p class="text-muted">experience what our clients liked the most</p>
            <hr>
          </div>
          <div class="container-fluid">
            <div id="carousel-hot" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner carousel-inner-hot row w-100 mx-auto" role="listbox">
                {% for tour in tours %}
                <div
                  class="carousel-item item-hot col-12 col-sm-6 col-md-4 col-lg-3 {% if forloop.counter == 1 %} active {% endif %}">

                  <a href="{% url 'tour_details' tour.id %}" class="no-underline">
                    <div class="card card-game" data-toggle="tooltip" data-placement="top" title="{{ tour.name }}">
                        <div class="card-header">
                            <h5 class=" text-center text-truncate">{{ tour.name}}</h5>
                        </div>
                        <div class="card-body">
                            <img class="card-img-top img-fluid p-2" src="{{  tour.image.url }}">
                                {{tour.description}}
                        </div>
                    </div>
                </a>
                </div>
                {% endfor %}
              </div>
              <a class="carousel-control-prev" href="#carousel-hot" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel-hot" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
    </section>

  <section class="contacts bg-primary  pt-0" id="contacts">
    <div class="container">
      <div class="section-heading text-center">
        <h2>Get in Touch</h2>
        <hr>
      </div>
      <div class="row justify-content-center">
        <div class="col-11 col-md-7 form-wrapper p-4 text-white">
          <form method="POST" class="form" action="{% url 'send_message' %}">
            {% csrf_token %}
            <fieldset class="rounded px-3 mb-5">

            {{ contact_form.name | as_crispy_field }}
            {{ contact_form.email | as_crispy_field }}
            {{ contact_form.message | as_crispy_field }}
          </fieldset>

          <button class="shop-now-button btn btn--primary" type="submit"><i class="fas fa-paper-plane"></i> Send Message</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="team-section text-center dark-grey-text">

    <!-- Section heading -->
    <h3 class="font-weight-bold mb-4 pb-2">Testimonials</h3>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
      eum porro a pariatur veniam.</p>

  	<!--Grid row-->
    <div class="row text-center">

      <!--Grid column-->
      <div class="col-md-4 mb-4">

        <div class="testimonial">
          <!--Avatar-->
          <div class="avatar mx-auto">
            <img src="{% static 'img/legionaire_q.jpg' %}" class="rounded-circle z-depth-1 img-fluid">
          </div>
          <!--Content-->
          <h4 class="font-weight-bold dark-grey-text mt-4">Flavio Lentilio</h4>
          <h6 class="font-weight-bold blue-text my-3">Gallia Placidia</h6>
          <p class="font-weight-normal dark-grey-text">
            <i class="fas fa-quote-left pr-2"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
            eos id officiis hic tenetur quae quaerat ad velit ab hic tenetur.</p>
          <!--Review-->
          <div class="orange-text">
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star-half-alt"> </i>
          </div>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-4">

        <div class="testimonial">
          <!--Avatar-->
          <div class="avatar mx-auto">
            <img src="{% static 'img/familia_q.jpg' %}" class="rounded-circle z-depth-1 img-fluid">
          </div>
          <!--Content-->
          <h4 class="font-weight-bold dark-grey-text mt-4">Familia Clodius</h4>
          <h6 class="font-weight-bold blue-text my-3">Nubia</h6>
          <p class="font-weight-normal dark-grey-text">
            <i class="fas fa-quote-left pr-2"></i>Ut enim ad minima veniam, quis nostrum exercitationem ullam
            corporis suscipit laboriosam, nisi ut aliquid commodi.</p>
          <!--Review-->
          <div class="orange-text">
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
          </div>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-4">

        <div class="testimonial">
          <!--Avatar-->
          <div class="avatar mx-auto">
            <img src="{% static 'img/matrona_q.jpg' %}" class="rounded-circle z-depth-1 img-fluid">
          </div>
          <!--Content-->
          <h4 class="font-weight-bold dark-grey-text mt-4">Terenzia Giulia</h4>
          <h6 class="font-weight-bold blue-text my-3">Illiria</h6>
          <p class="font-weight-normal dark-grey-text">
            <i class="fas fa-quote-left pr-2"></i>At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque corrupti.</p>
          <!--Review-->
          <div class="orange-text">
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="far fa-star"> </i>
          </div>
        </div>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </section>

{% endblock %}

{% block extra_js %}

  {{ block.super }}
  <script src="{% static 'home/js/carousel.js' %}"></script>

{% endblock %}