{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid bg-tertiary">
        <div class="row">
            <div class="offset-1 col-11 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Tour Management</h2>
                <h5 class="text-muted">Add a Tour</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="offset-1 col-11 col-md-6">
                <form method="POST" action="{% url 'add_tour' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <a class="btn btn-outline-black rounded-0" href="{% url 'tours' %}">Cancel</a>
                        <button class="btn btn-tertiary rounded-0" type="submit">Add Tour</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %} 

{% block extra_js %}
{{ block.super }}


<script src="{% static 'tours/js/addTour.js' %}"></script>

{% endblock %}