{% load static %}

<!-- footer -->
<footer class="footer">
    <div class="footer__nav">
        <div class="container">
            <section class="row">
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="footer__nav__group">
                        <h4 class="footer__nav__group__header color-contrast">Eternal City Crawls</h4>
                        <ul class="footer__nav__group__list">
                            <li class="footer__nav__group__list__item color-contrast"><a aria-label="home" class = "color-contrast"
                                    href="{% url 'home' %}">Home</a></li>
                            <li class="footer__nav__group__list__item color-contrast"><a aria-label="shop" class = "color-contrast" href="/tours">Booking</a>
                            </li>
                            <li class="footer__nav__group__list__item color-contrast"><a aria-label="contact-us" class = "color-contrast" href="/#contacts">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="footer__nav__group">
                        <h4 class="footer__nav__group__header color-contrast">Account</h4>
                        <ul class="footer__nav__group__list">
                            {% if user.is_authenticated %}
                            <li class="footer__nav__group__list__item color-contrast"><a aria-label="my profile" class = "color-contrast"
                                    href="{% url 'profile' %}">My Profile</a></li>
                            <li class="footer__nav__group__list__item color-contrast"><a aria-label="sign out" class = "color-contrast"
                                    href="{% url 'account_logout' %}">Sign Out</a></li>
                            <li class="footer__nav__group__list__item color-contrast"><a aria-label="your cart" class = "color-contrast"
                                    href="{% url 'view_cart' %}">Your Cart</a></li>
                            {% else %}
                            <li class="footer__nav__group__list__item color-contrast"><a aria-label="register" class = "color-contrast"
                                    href="{% url 'account_signup' %}">Register</a></li>
                            <li class="footer__nav__group__list__item color-contrast"><a aria-label="sign in" class = "color-contrast"
                                    href="{% url 'account_login' %}">Sign In</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 offset-md-2 col-sm-12">
                    <div class="footer__message mx-auto text-center color-contrast pt-2">
                        <a aria-label="home" href="{% url 'home' %}">
                            <img class="logo" src="{% static 'img/small-logo.png' %}" alt="ECC Logo">
                        </a>
                        <p>Thanks for visiting us!</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</footer>