{% load static %}

<section class="contacts bg-primary  pt-0" id="contacts">
    <div class="container">
      <div class="section-heading text-center">
        <h2>Get in Touch</h2>
        <hr>
      </div>
      <div class="row justify-content-center">
        <div class="col-11 col-md-7 form-wrapper p-4 text-white">
          <form method="POST" class="form" action="{% url 'send_message' %}">
            {% csrf_token %}
            <fieldset class="rounded px-3 mb-5">

            {{ contact_form.name | as_crispy_field }}
            {{ contact_form.email | as_crispy_field }}
            {{ contact_form.message | as_crispy_field }}
          </fieldset>

          <button class="book-now-button btn btn--primary" type="submit"><i class="fas fa-paper-plane"></i> Send Message</button>
          </form>
        </div>
      </div>
    </div>
  </section>