{% load static %}

<section class="testimonials text-center dark-grey-text">

  <!-- Section heading -->
    <h3 class="font-weight-bold mb-4 pb-2">Testimonials</h3>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto mb-5">Read what how are enthusiastic customer says!</p>

  	<!--Grid row-->
    <div class="row text-center">

      <!--Grid column-->
      <div class="col-md-4 mb-4">

        <div class="testimonial">
          <!--Avatar-->
          <div class="avatar mx-auto">
            <img src="{% static 'img/legionaire_q.jpg' %}" class="rounded-circle z-depth-1 img-fluid" alt="legionaire">
          </div>
          <!--Content-->
          <h4 class="font-weight-bold dark-grey-text mt-4">Flavio Lentilio</h4>
          <h6 class="font-weight-bold blue-text my-3">Gallia Placidia</h6>
          <p class="font-weight-normal dark-grey-text">
            <i class="fas fa-quote-left pr-2"></i>When I need to take a break from exhausting legionnaire's life, I know I can rely on Eternal City Crawls!</p>
          <!--Review-->
          <div class="text-warning">
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
          </div>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-4">

        <div class="testimonial">
          <!--Avatar-->
          <div class="avatar mx-auto">
            <img src="{% static 'img/familia_q.jpg' %}" class="rounded-circle z-depth-1 img-fluid" alt="roman family">
          </div>
          <!--Content-->
          <h4 class="font-weight-bold dark-grey-text mt-4">Familia Clodius</h4>
          <h6 class="font-weight-bold blue-text my-3">Nubia</h6>
          <p class="font-weight-normal dark-grey-text">
            <i class="fas fa-quote-left pr-2"></i> Eternal City Crawls is the way to go, to visit the capital from Remote Empire's Province.</p>
          <!--Review-->
          <div class="text-warning">
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
          </div>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-4">

        <div class="testimonial">
          <!--Avatar-->
          <div class="avatar mx-auto">
            <img src="{% static 'img/matrona_q.jpg' %}" class="rounded-circle z-depth-1 img-fluid" alt="romann lady">
          </div>
          <!--Content-->
          <h4 class="font-weight-bold dark-grey-text mt-4">Terenzia Giulia</h4>
          <h6 class="font-weight-bold blue-text my-3">Illiria</h6>
          <p class="font-weight-normal dark-grey-text">
            <i class="fas fa-quote-left pr-2"></i>They have a solution for every kind of visitors, including tours for single people!</p>
          <!--Review-->
          <div class="text-warning">
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
          </div>
        </div>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->
  </section>